/*headings*/


h1 {
    -webkit-margin-before: 0em;
    font-family:'Old Standard TT', serif;
    font-size:80px;
    text-align:center;
}
h2 {
    font-family: 'Abel', sans-serif;
    font-size:20px;
    color:black;
    text-decoration: underline;
    -webkit-margin-after: 0.1em;
}
a {
    color:#00826A !important;
    text-decoration: underline;
}
.new-article {
    border-bottom: solid 1px;
    border-color:#ddd;
}
.gm-style-iw {
width: 350px; 
min-height: 150px;
}

p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 0px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
h3 {
    font-family: 'Abel', sans-serif;
    text-align:center;
}
h4 {
    font-family:'Old Standard TT', serif;
    font-size:26px;
}
h5 {
    font-family: 'Abel', sans-serif;
    font-size:17pt;
}
h6 {
    font-family: 'Abel', sans-serif;
    font-size:14pt;
}
iframe {
    padding-left:0px;
    border:none;
    background-color:#eee;
    padding:5px;
}

.tweet {
    font-size:13px;
    font-family: 'Arial', sans-serif;
}

.screenname {
    color:#eee;
}
body {
    padding-top:0px !important;
    background-color:#fff !important;
}
.text-center {
    text-align: center;
}

.container {
    width:95% !important;
    max-width:none;
    padding-top:40px;
}
.container .jumbotron {
    border-radius:0px;
}
#map-canvas {
    height:500px;
    width:100%;
    z-index:1;
}
.container .jumbotron {
    padding:10px;
}
#results {
    text-align:center;
}
#nytimes {
    padding-left:2px;
}
.create {
    font-size:10px;
    font-family: 'Arial', sans-serif;
    
}
.username {
    -webkit-margin-after:0px;
    font-weight:bold;
}
.published {
    font-size:12px;
    font-family: 'Abel', sans-serif;
}
#images {
   margin:1px; 
}
#pic {
   padding:0px;
}

.new-tweet {
    padding-top:2px;
    padding-left:10px;
    border-bottom: solid 1px;
    border-color:#ddd;
}